input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.header__form {
  color: white;
  font-size: 24px;
  line-height: 28px;
  display: inline-block;
/* margin-left: 18px; */
}

.header__form + .header__form  {
  padding-left: 18px;
}
input[type="radio"]:checked + .header__form {
text-decoration: underline;
}

input[type="radio"]:hover + .header__form {
opacity: .5;
}
